<section class="destinations" id="destinos" aria-labelledby="destinations-title">
  <div class="container destinations__header">
    <app-section-title [eyebrow]="heading().eyebrow">
      {{ heading().headingLine1 }}<br />{{ heading().headingLine2 }}<br />{{ heading().headingLine3 }}
      <p support class="destinations__support">
        @for (line of heading().support.split('\n'); track $index) {
          {{ line }}
          @if (!$last) {
            <br />
          }
        }
      </p>
    </app-section-title>
  </div>

  <div
    class="destinations__viewport"
    #viewport
    data-cursor="drag"
    (mousemove)="onViewportPointerMove($event)"
    (mouseleave)="onViewportPointerLeave()"
  >
    <ul class="destinations__track" #track>
      <li *ngFor="let destination of destinations(); trackBy: trackBySlug; let i = index">
        <app-destination-card [destination]="destination" [index]="i" />
      </li>
    </ul>
  </div>
</section>
